.advantage-card {
  margin: 0;
  padding: 20px;
  min-width: 314px;
  min-height: 197px;
  height: 100%;
  background-color: #e1edce;
  display: flex;
  flex-direction: column;
}

.advantage-card__top {
  display: flex;
  gap: 20px;
}

.advantage-card__negative {
  background-color: #f8ddd7;
}

.advantage-card__category {
  margin: 0 0 4px 0;
  padding: 2px 10px;
  max-width: 340px;
  min-height: 25px;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #88aa4d;
}

.advantage-card__text {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
}

/* Планшет */
@media (max-width: 768px) {
  .advantage-card__text {
    margin-top: auto;
  }
}
